In [1]:
# Import our dependencies
import pandas as pd
from sklearn.preprocessing import StandardScaler

#Read data into a dataframe
hr_df = pd.read_csv("hr_dataset.csv")
hr_df

    Satisfaction_Level  Num_Projects  Time_Spent  Num_Promotions
0                 0.30             1         253               2
1                 0.25             1         200               0
2                 0.90             4        2880               5
3                 0.65             3        1450               3
4                 0.50             2         785               2
5                 0.40             2         688               2
6                 0.85             4        2570               4
7                 0.90             5        2956               4
8                 0.15             0          68               1
9                 1.00             5        3424               6
10                0.70             3        2057               3
11                0.23             1         362               1
12                0.48             1         572               2
13                0.41             2         526               2
14                0.55             3         682               2
15                0.70             4        1575               4
16                0.65             3        1480               3
17                0.80             4        2390               4
18                0.87             4        2855               5
19                0.38             2         523               1
20                0.60             2        1025               2
21                0.90             5        3259               5
22                1.00             6        4816               7
23                0.75             3        1269               3
24                0.80             3        1540               3
25                0.46             1         605               2
26                0.50             2         832               2
27                0.35             1         428               1
28                0.70             2        1015               3

In [2]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [3]:
# Fit the StandardScaler
scaler.fit(hr_df)

StandardScaler()

In [4]:
# Scale the data
scaled_data = scaler.transform(hr_df)

In [5]:
# Create a DataFrame with the scaled data
transformed_scaled_data = pd.DataFrame(scaled_data, columns=hr_df.columns)
transformed_scaled_data.head()

   Satisfaction_Level  Num_Projects  Time_Spent  Num_Promotions
0           -1.303615     -1.162476   -1.049481       -0.558656
1           -1.512945     -1.162476   -1.094603       -1.804887
2            1.208335      0.860233    1.187080        1.310692
3            0.161689      0.185996   -0.030385        0.064460
4           -0.466299     -0.488240   -0.596549       -0.558656